@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #FFF;
    --color-text: #FAFAFA;
    --color-text-2: #000;
    --color-secondary-2: #DB4444;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-text-2);
    font-weight: 400;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.app__landingPage {
    margin: auto;
    max-width: 1170px;
}

.app__landingPage-header {
    margin-bottom: 60px;
}

.app__landingPage-header_redSquare {
    border-radius: 4px;
    background-color: #DB4444;
    width: 20px;
    height: 40px;
}

.app__landingPage-header_category > span {
    color: var(--color-secondary-2);
    font-weight: 600;
    line-height: 20px;
    font-size: 16px;
}

.app__landingPage-header_category {
    display: flex;
    justify-content: start;
    gap: 16px;
    align-items: center;
    margin-bottom: 20px;
}

.app__landingPage-header_title > h2{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 48px;
}

.app__landingPage-featured {
    margin-bottom: 140px;
}

.app__landingPage-featured_grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 32px 30px;
    min-height: 600px;
    margin-bottom: 140px;
}
.app__landingPage-featured_grid > div {
    color: var(--color-text);
}

.app__landingPage-featured_grid > div h3 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.app__landingPage-featured_grid > div p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
}

.app__landingPage-featured_grid > div a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    width: fit-content;
    border-bottom: 1px solid var(--color-text);
    color: var(--color-text);
}

#square-image p, #square-image h3 {
    margin-bottom: 16px;
}


#square-image {
    background: var(--color-text-2) url('./assets/images/featured/ps5.png') no-repeat center bottom/cover;
    background-size: 120%;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-content: end;
    padding: 32px;
}

#large-image {
    background: #0D0D0D url('./assets/images/featured/sombrero.jpg') no-repeat right bottom/contain;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    grid-row: 1;
    grid-column: 2 / span 2;
    padding: 24px;
}

#small-image-left {
    background: var(--color-text-2) url('./assets/images/featured/amazon-echo.png') no-repeat center center/contain;
    background-size: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 24px;
}

#small-image-right {
    background: var(--color-text-2) url('./assets/images/featured/gucci.png') no-repeat center center/contain;
    background-size: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 24px;
}

.app__landingPage-featured_circles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.app__landingPage-featured_circles_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__landingPage-featured_circles_container > h3 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

.app__landingPage-featured_circles_container > p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.grey-circle {
    background-color: #C1C0C1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.black-circle {
    background-color: #000;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-circle > * {
    color: var(--white);
}

.app__landingPage-banner {
    padding: 56px 69px;
    background-color: #000;
    margin-bottom: 71px;
}

.app__landingPage-banner_container {
    display: flex;
}

.app__landingPage-bannner_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white);
}

.app__landingPage-bannner_info span {
    color: #00FF66;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
}

.app__landingPage-bannner_info h2 {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 32px;
}

.app__landingPage-banner_circles_container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}

.white-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 50%;
    width: 62px;
    height: 62px;
}

.white-circle p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #000;
}

.white-circle span {
    font-size: 11px;
    line-height: 18px;
    margin: 0;
    color: #000;
}

.btn-green {
    background-color: #00FF66;
    padding: 16px 48px;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: none;
}

.app_landingPage-banner_image {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.app__landingPage-banner_image img {
    position: relative;
    max-width: 568px;
    max-height: 330px;
    object-fit: cover;
    z-index: 1;
}

.image-bg-light {
    position: absolute;
    top: 5%;
    width: 568px;
    height: 330px;
    border-radius: 50%;
    background-color: #d9d9d9;
    opacity: 0.3;
    filter: blur(100px);
    z-index: 0;
}